<section>
    <div class="banner-ad bg-danger block-3 py-5 banner4"
        style="background:url('images/Sale_Banner4.jpg') no-repeat;background-size: cover">
        <div className="banner-content align-items-center p-5 my-5">
            <div className="content-wrapper text-light py-5 my-5">
                <h3 class="banner-title text-light"></h3>
                <!-- <p>Discounts up to 40%</p>
                                <a href="#" class="btn-link text-white">Shop Now</a> -->
            </div>
        </div>
    </div>
</section>