<div class="container mt-5">
    <div class="card custom-card p-4">
        <h2 class="section-title">Order Details</h2>
        <hr />

        <div class="order-summary">
            <p><strong>Order Number:</strong> <span class="text-primary">{{order?._id?.slice(-6).toUpperCase()}}</span>
            </p>
            <ng-container [ngSwitch]="true">
                <p *ngSwitchCase="order.order_status === 'Cancelled'">
                    <strong>Status: </strong> <span class="badge bg-danger">{{order.order_status}}</span>
                </p>
                <p *ngSwitchCase="order.order_status === 'Delivered'">
                    <strong>Status: </strong> <span class="badge bg-success">{{order.order_status}}</span>
                </p>
                <p *ngSwitchCase="order.order_status === 'Pending'">
                    <strong>Status: </strong> <span class="badge bg-warning">{{order.order_status}}</span>
                </p>
                <p *ngSwitchDefault>
                    <strong>Status: </strong> <span class="badge bg-secondary">{{order.order_status}}</span>
                </p>
            </ng-container>
            <p><strong>Total Amount:</strong> <span class="text-success">₹{{ order?.total_amount }}</span></p>
            <p><strong>Shipping Address:</strong> {{ order?.shipping_address }}</p>
            <p><strong>Placed On:</strong> {{order?.placed_at | date: 'd MMMM Y'}}</p>
        </div>

        <h4 class="mt-4">Order Items</h4>
        <table class="table custom-table mt-3">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of order?.order_items">
                    <td>{{ item.product_id.product_name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>₹{{ item.product_id.product_price }}</td>
                </tr>
            </tbody>
        </table>

        <div class="d-flex justify-content-between mt-4">
            <a routerLink="/order-history" class="btn custom-btn">Back to Orders</a>
            <!-- <a href="#" class="btn custom-btn-secondary">Track Order</a> -->
        </div>
    </div>
</div>