<div class="container mt-5">
    <div class="row">
        <!-- Product Images Section -->
        <div class="col-md-4">
            <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <!-- Loop over product images array -->
                    <div class="carousel-item" *ngFor="let image of productData?.product?.image_url; let i = index"
                        [class.active]="i === 0">
                        <img [src]="image" class="d-block w-100" alt="Product Image">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <div class="col-md-6">
            <h2>{{ productData?.product?.product_name }}</h2>

            <div class="d-flex align-items-center">
                <del class="me-2">₹{{ productData?.original_price }}</del>
                <h3 class="text-primary">₹{{ productData?.final_price }}</h3>
            </div>

            <div class="d-flex align-items-center">
                <h6 class="me-2">Size:</h6>
                <h6 class="text-primary">{{ productData?.product?.size }}</h6>
            </div>

            <div class="d-flex align-items-center">
                <p class="me-2">Stock:</p>
                <p *ngIf="productData.product.product_stock>0" class="text-success">In Stock</p>
                <p *ngIf="productData.product.product_stock<=0" class="text-danger">Out of Stock</p>
            </div>

            <div class="my-3">
                <span class="rating" *ngFor="let star of [1, 2, 3, 4, 5]">
                    <ng-container [ngSwitch]="true">
                        <svg *ngSwitchCase="star <= productData.average_rating" width="18" height="18"
                            class="text-warning">
                            <use xlink:href="#star-full"></use>
                        </svg>

                        <svg *ngSwitchCase="star - 1 < productData.average_rating && star > productData.average_rating"
                            width="18" height="18" class="text-warning">
                            <use xlink:href="#star-half"></use>
                        </svg>

                        <svg *ngSwitchDefault width="18" height="18" class="text-muted">
                            <use xlink:href="#star-empty"></use>
                        </svg>
                    </ng-container>
                </span>
                <span class="ms-2">({{ productData.total_ratings }} reviews)</span>
            </div>
            <p>{{ productData?.description }}</p>

            <div class="d-flex gap-3">
                <button class="btn btn-primary" (click)="addToCart(productData.product._id)" [disabled]="productData.product.product_stock <= 0">Add to Cart</button>
                <button class="btn btn-warning" (click)="orderNow()">Order Now</button>
            </div>
        </div>
    </div>

    <div class="my-5">
        <h4>Customer Feedback</h4>
        <div class="mt-4">
            <h5>Leave a Feedback</h5>
            <form (ngSubmit)="submitComment()">
                <div class="mb-3">
                    <textarea [(ngModel)]="newComment.text" name="commentText" rows="4" class="form-control"
                        placeholder="Write your feedback..." required></textarea>
                </div>
                <div class="d-flex gap-2">
                    <label htmlFor="rating" class="form-label">
                        Rating
                    </label>
                    <select [(ngModel)]="newComment.rating" name="rating" class="form-select" required>
                        <option *ngFor="let rate of [1, 2, 3, 4, 5]" [value]="rate">{{ rate }}</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </form>
        </div>
        <div class="mt-5">
            <h5>All Feedback</h5>
            <div *ngIf="feedback.length > 0">
                <div *ngFor="let feedbackItem of feedback" class="mb-4 p-3 border rounded">
                    <div class="d-flex align-items-center">
                        <img *ngIf="feedbackItem.user_id.profile_picture; else defaultImage"
                            [src]="feedbackItem.user_id.profile_picture" style="border-radius: 50%; object-fit: cover"
                            width="40" height="40">
                        <ng-template #defaultImage>
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                                class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"></path>
                                <path fill-rule="evenodd"
                                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1">
                                </path>
                            </svg>
                        </ng-template>
                        <div class="ms-3">
                            <h6 class="mb-1">
                                {{ feedbackItem.user_id.first_name }} {{ feedbackItem.user_id.last_name }}
                            </h6>
                            <span class="text-muted">
                                {{ feedbackItem.commented_at | date: 'dd/LL/Y' }}
                            </span>
                        </div>
                    </div>
                    <div class="my-2">
                        <span class="rating" *ngFor="let star of [1, 2, 3, 4, 5]">
                            <ng-container [ngSwitch]="true">
                                <svg *ngSwitchCase="star <= productData.average_rating" width="18" height="18"
                                    class="text-warning">
                                    <use xlink:href="#star-full"></use>
                                </svg>

                                <svg *ngSwitchCase="star - 1 < productData.average_rating && star > productData.average_rating"
                                    width="18" height="18" class="text-warning">
                                    <use xlink:href="#star-half"></use>
                                </svg>

                                <svg *ngSwitchDefault width="18" height="18" class="text-muted">
                                    <use xlink:href="#star-empty"></use>
                                </svg>
                            </ng-container>
                        </span>
                    </div>
                    <p>{{ feedbackItem.comment }}</p>
                </div>
            </div>
            <div *ngIf="feedback.length === 0">
                <p>No feedback available.</p>
            </div>
        </div>
    </div>
</div>