<!-- <app-navbar></app-navbar> -->
    <app-poster></app-poster>
    <app-category></app-category>
    <app-best-selling></app-best-selling>
    <app-discount-coupons></app-discount-coupons>
    <app-featured></app-featured>
    <app-discount-purchase></app-discount-purchase>
    <app-most-popular></app-most-popular>
    <app-just-arrived></app-just-arrived>
    <app-app-download></app-app-download>
    <app-looking-for></app-looking-for>
    <app-services></app-services>
    <app-footer></app-footer>