<div class="container-fluid">
    <div class="row">
        <!-- Sidebar for Filters -->
        <div class="col-md p-3 bg-light">
            <h4>Filters</h4>
            <!-- Add filter options here -->
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="sizeFilter">
                <label class="form-check-label" for="sizeFilter">
                    Size Filter
                </label>
            </div>
            <!-- Add more filters here -->
        </div>

        <!-- Product Cards Section -->
        <div class="col-md-10">
            <!-- <div class="row g-4">
                <div class="col-md-3 col-sm-6 col-12" *ngFor="let prod of products">
                    <div class="card" style="width: 19rem;">
                        <img src={{prod.image_url[0]}} class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{prod.product_name}}</h5>
                            <p class="card-text">{{prod.original_price}}</p>
                            <a href="#" class="btn btn-primary">Add to cart</a>
                        </div>
                    </div>

                </div>
            </div> -->
            <div
                class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5">

                <div class="col" *ngFor="let prod of products">
                    <div class="product-item">
                        <figure>
                            <a href="" title="Product Title">
                                <img src={{prod.image_url[0]}} alt="Product Thumbnail" class="tab-image">
                            </a>
                        </figure>
                        <div class="d-flex flex-column text-center">
                            <h3 class="fs-6 fw-normal">{{prod.product_name}}</h3>
                            <div>
                                <span class="rating">
                                    <svg width="18" height="18" class="text-warning">
                                        <use xlink:href="#star-full"></use>
                                    </svg>
                                    <svg width="18" height="18" class="text-warning">
                                        <use xlink:href="#star-full"></use>
                                    </svg>
                                    <svg width="18" height="18" class="text-warning">
                                        <use xlink:href="#star-full"></use>
                                    </svg>
                                    <svg width="18" height="18" class="text-warning">
                                        <use xlink:href="#star-full"></use>
                                    </svg>
                                    <svg width="18" height="18" class="text-warning">
                                        <use xlink:href="#star-half"></use>
                                    </svg>
                                </span>
                                <span>(222)</span>
                            </div>
                            <div class="d-flex justify-content-center align-items-center gap-2">
                                <del>{{prod.original_price}}</del>
                                <span class="text-dark fw-semibold">{{prod.final_price}}</span>
                                <span
                                    class="badge border border-dark-subtle rounded-0 fw-normal px-1 fs-7 lh-1 text-body-tertiary">10%
                                    OFF</span>
                            </div>
                            <div class="button-area p-3 pt-0">
                                <div class="row g-1 mt-2">
                                    <div class="col-3"><input type="number" name="quantity"
                                            class="form-control border-dark-subtle input-number quantity" [(ngModel)]="quantity" value="1">
                                    </div>
                                    <div class="col-7">
                                        <button class="btn btn-primary rounded-1 p-2 fs-7 btn-cart" (click)="addToCart(prod._id)">
                                            <svg width="18" height="18">
                                                <use xlink:href="#cart"></use>
                                            </svg> Add to Cart
                                        </button>
                                    </div>
                                    <div class="col-2"><a href="#" class="btn btn-outline-dark rounded-1 p-2 fs-6"><svg
                                                width="18" height="18">
                                                <use xlink:href="#heart"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>