<div class="container-fluid">
    <div class="row">
        <!-- Sidebar for Filters -->
        <div class="col-md p-3 bg-light">
            <h4>Filters</h4>
            <!-- Add filter options here -->
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="sizeFilter">
                <label class="form-check-label" for="sizeFilter">
                    Size Filter
                </label>
            </div>
            <!-- Add more filters here -->
        </div>

        <!-- Product Cards Section -->
        <div class="col-md-10">
            <div class="row g-4">
                <div class="col-md-3 col-sm-6 col-12" *ngFor="let prod of products">
                    <div class="card" style="width: 19rem;">
                        <img src={{prod.image_url[0]}} class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{prod.product_name}}</h5>
                            <p class="card-text">{{prod.original_price}}</p>
                            <a href="#" class="btn btn-primary">Add to cart</a>
                        </div>
                    </div>

                </div>
                <!-- More product cards can go here -->
            </div>
        </div>
    </div>
</div>